<% content_for :title, 'All superpowers' %>

<h1>All Superpowers</h1><br>

<ul>
  <% @powers.each do |power| %>
    <h3><%= link_to power.name, power %></h3>
    <h4><i><%= power.description %></i></h4><br>
  <% end %>
</ul>
